header {
    font-size: 65px;
    font-style: italic;
    display: flex;
    background-image: url(scale.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 50px;
    max-width: 1200px;
    border: 1px #fff;
    border-radius: 5px;
    box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem black;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-around;
    justify-content: flex-end;
    align-items: stretch;
    
}

.phar {
    margin-left: -20px;
    border: 2px black;
    background-color: grey;
    font-style: italic;
}

.nav {
    background-color: white;
    font-weight: 300;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1200px;
    margin-bottom: 40px;
    
}

footer{
    max-width: 1200px;
    height:300px;
    font-size:45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

a{
    display: flex;
    justify-content: left;
    margin-top: 30px;
}

.copy{
    font-size: 9px;
}